.exa_head{
  width: 100%;
  height: 40px;
  border-bottom: 1.5px solid #ccc;
}
.exa_head strong{
  line-height: 40px;
  font-size: 16px;
}
.exa_title{
  width: 100%;
  height: 100px;
  /* background: pink; */
  padding-top: 30px;
  border-bottom: 2px solid #428bc4;
}
.exa_title h3{
  /* line-height: 100px; */
  /* margin-top: 30px; */
  text-align: center;
  font-size: 18px;
}
.exa_time .time{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.exa_box{
  width: 100%;
  height: 160px;
  background: #e5e5e5;
  padding-top: 10px;
}
.exa_box span{
  margin-left: 20px;
  /* margin-top: 10px; */
}
.exa_radio{
  margin-left: 40px;
  margin-top: 6px;
  /* margin-bottom: 10px; */
}
.exa_radio input{
  margin-top: 10px;
}
.exa_much{
  margin-top: 20px;
}
.exa_box1{
  width: 100%;
  height: 160px;
  background: #e5e5e5;
  padding-top: 10px;
}
.exa_box1 span{
  margin-left: 20px;
  /* margin-top: 10px; */
}
.exa_checkout{
  margin-left: 40px;
  margin-top: 6px;
}
.exa_checkout input{
  margin-top: 10px;
}
.exa_bla{
  margin-top: 20px;
}
.exa_box2{
  width: 100%;
  height: 50px;
  background: #e5e5e5;
  padding-top: 10px;
}
.exa_box2 span{
  margin-left: 20px;
  /* margin-top: 10px; */
}
.exa_box2 input{
  border: none;
  width: 300px;
  height: 20px;
  margin-left: 10px;
  border-bottom: 1px solid #958f95;
  background: #eae1e9;
}
