.Pro{
  height: 100%;
}
.Pro_box{
  width: 100%;
  height: 290px;
  border: 1px solid #ccc;
  padding: 16px 12px;
}
.Pro_top{
  width: 400px;
  height: 40px;
  /* background-color: pink; */
  margin-left: 150px;
  /* float: left; */
}
.Pro_top p{
  float: left;
  color: red;
  /* margin-left: 150px; */
}
.Pro_top input{
  margin-left: 10px;
}
.Pro_con p{
  float: left;
  color: red;
  margin-left: 150px;
  margin-top: 10px;
}
.Pro_con textarea{
  margin-top: 10px;
  margin-left: 10px;
  width: 592px;
  height: 90px;
}
.Pro_btn1{
  margin-left: 300px;
  margin-top: 40px;
}
.Pro_btn1 , .Pro_btn2{
  width: 85px;
  height: 42px;
}
.Pro_btn2 {
  margin-left: 130px;
}
.Pro Table{
  margin-top: 20px;
}